<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FirstSuite">
	<listeners>
	<listener class-name="com.test.automation.uiAutomation.customListner.Listener"></listener>
	<listener class-name="com.test.automation.uiAutomation.customListner.RetryListener"></listener>
	</listeners>
	<test name="test1">
		<classes>
<!-- 			<class name="com.amplify.test.suite1.VerifyLogin">
			 <methods>
			 <include name="TestCase_1"></include>
			<include name="TestCase_2"></include>
			<include name="TestCase_3"></include>
			</methods>
			</class> -->
			
			<!-- <class name="com.amplify.test.suite1.AddLoanTest">
			</class> -->
			<class name="com.amplify.test.suite1.TC001_VerifyTasksForUnderwriter">
			</class>
			
		</classes>
	</test>

</suite>